/* Estilos generales para todas las páginas */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.contenido {
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}